.large-modal {
  top: 20%!important;
  right: 20%!important;
  left: 20%!important;
  bottom: 20%!important;
  background: #EEEEEE!important;
  position: absolute;
    border: 1px solid rgb(204, 204, 204);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.small-modal {
  position: absolute;
    border: 1px solid rgb(204, 204, 204);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  top: 30%!important;
  right: 30%!important;
  left: 30%!important;
  bottom: 30%!important;
  background: #EEEEEE!important;
}

.filter-popover {
  min-width: 650px;
  min-height: 200px;
  border: 1px solid rgb(204, 204, 204);
    background: #EEEEEE!important;
}

.filter-modal-container .modal-header {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  color: black;
  width: 100%;
  display: block;
}

.filter-modal-container .Select-control {
  height: 70px;
}

.modal-header {
  margin-bottom: 5px;
}

.filter-popover > div {
  min-width: 750px;
  min-height: 200px;
}
.filter-popover > div >div>div {
  min-width: 750px;
  min-height: 200px;
}

.react-datepicker__tether-element {
  left: -75px!important;
}

.filter-popover > div {
  overflow-y: visible!important;
}

.subs-choose-radio > div {
  float: left;
}

.subs-choose-radio > div:first-child {
  width:34%!important;
}

.subs-choose-radio > div:nth-child(2) {
  width:66%!important;
}

.filter-modal-container {
  font-size: 14px;
}

.close-modal{
  width: 15px;
  height: 15px;
  position: absolute;;
  right: 0;
  margin: 0 10px;
}

.addTrud.selectContainer {
  margin: 5px;
}

.modalForm {
  height: 100%;
}

.taskDate {
  margin-top: 20px;
}

.taskDate > div > * {
  float:left;
  margin: 0 10px;
}

.rightCalendar {
  width: 23px;
  height: 23px;
}

@media all and (max-width: 1250px){
  .responsive-vertical>div{
    flex-direction: column!important;
  }
}