.ReactModal__Content {
  top: 20%!important;
  right: 20%!important;
  left: 20%!important;
  bottom: 20%!important;
  background: #EEEEEE!important;
}

.react-datepicker__tether-element {
  left: -75px!important;
}

.close-modal{
  width: 15px;
  height: 15px;
  position: absolute;;
  right: 0;
  margin: 0 10px;
}

.addTrud.selectContainer {
  margin: 5px;
}

.modalForm {
  height: 100%;
}

.taskDate {
  margin-top: 20px;
}

.taskDate > div > * {
  float:left;
  margin: 0 10px;
}

.rightCalendar {
  width: 23px;
  height: 23px;
}

@media all and (max-width: 1250px){
  .responsive-vertical>div{
    flex-direction: column!important;
  }
}