.statistics-page .close-right-panel {
    display: none;
}

.weekPicker > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weekPicker img {
  height: 10px!important;
  width: 10px!important;
  margin-top: 20px!important;
}

.normativeBlock {
  background-color: #6FA8DC;
  outline: 1px black solid;
}

.overworkBlock{
  background-color: #E06666;
  outline: 1px black solid;
}

.workdoneBlock{
  background-color: #6AA84F;
  outline: 1px black solid;
}

.underworkBlock {
  background-color: #FFD966;
  outline: 1px black solid;
}

.containerBlock{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  border-bottom: 1px solid black;
}

.top-statistics-buttons-container button {
  border: 1px solid black!important;
  margin: 5px 5px!important;
}

.hoursBlock{
 min-width: 100%;
 max-width: 100%;
 display: flex;
 flex-direction: column;
   padding: 15px 0;

}

.workChartContainer {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  min-height: 80%;
}

.upperBlock{
  display: flex;
  flex-direction: row;
  margin: 2px 0;
}

.lowerBlock{
  display: flex;
  flex-direction: row;
  margin: 2px 0;
}

.innerTaskContainerBlock {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.innerHoursContainerBlock{
  width: 60%;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid black;
  padding-left: 15px;
}

.taskBlock {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.taskBlock > div {
  padding: 4px;
}

.taskBlock > div{
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;;
}


.button-statistics-create{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.dayPicker > div  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.weekPicker .tableCalendar {
  display: none;
}

.weekPicker .weekVisualiser {
  height:20px;
  line-height: 20px;
}

.weekPicker input {
  height: 10px;
}

.weekPicker {
  font-size: 10px;
}

.weekPicker > div > div {
  width:50%!important;
}

.weekPicker .dateContainer {
  display: flex;
  flex-direction: column;
}