.taskPanel {
  margin:5px;
  border: 1px solid black;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}

.modalForm .taskPanel {
  border: none;
}

.panelText {
  float:left;
  clear:both;
  margin:5px;
}

.panelText.fullWidth {
  width: 100%;
}

.fullWidth {
  width:100%;
}


.fieldValue.taskHeader {
  font-size: 24px;
}

.formInput {
  height: 30px;
}

.panelLabel {
  text-decoration: underline;
  margin: 5px;
  float: left;
}


.fieldValue {
  border: none;
  border-bottom: 1px solid black;
}

.standard-field {
  height:30px;
  
}

.fieldValue:focus {
  outline: none;
}

.infoHeaderBlock .datePicker {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.infoHeaderBlock .singleExecutor{
  margin-top: 0;
}


.infoHeaderBlock .Select--multi{
  min-width: 80%;
  max-height: 38px;
}
.infoHeader {
  padding: 5px 60px 5px 5px;
  border-bottom: 1px solid black;
  max-height: 50px;
  min-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.taskInfoTabs > div > div:first-child {
  background-color: white!important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 60px;
}

.taskInfoTabs > div > div:nth-child(2) {
  display: none;
}

.noDisplay {
  display: none!important;
}

.singleExecutor {
  position: relative;
}

.singleExecutor span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  position: absolute;
  display: block;
  float: left;
  line-height: 30px;
}


.infoHeaderBlock > div > div:nth-child(2) {
  margin-left: 30px;
}

.user {
  width: 30px;
  height: 30px;
  float: left;
}

.calendar {
  width: 30px;
  height: 30px;
    float: left;
}

.singleExecutor {
  height: 25px;
  width: 25px;
  background: #DDDDDD;
  border-radius: 30px;
  border: 2px solid black;
  text-align: center;
  float:left;
  margin:0 5px;
  font-size: 16px;
}

.singleExecutor.non-distributed {
  background: rgba(255,255,0,0.6);
}

.noneExecutor span {
  height: 30px;
  width: 30px;
  background: #DDDDDD;
  border-radius: 3px;
  border: 2px solid black;
  text-align: center;
  float:left;
  margin:5px;
}

.singleExecutor span {
  text-align: center;
  width:100%;
  margin-left: 0;
}

.clickable-image.ellipsis {
  width: 30px;
  height: 30px;
}
.clickable-image.clock {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.clickable-image.comment {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
svg.active {
  fill: #02ceff!important
}


.taskInfoTab {
  color:black!important;
  max-width: 150px;
  font-size: 12px!important;
  margin: 5px 0!important;
  background-color: #DDDDDD!important;
  border: 1px solid black!important;
}

.taskInfoTab:first-child {
    border-right: none!important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.addTrudButtonContainer {
  max-height: 50px;
  outline: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-update .taskPanel {
  pointer-events: none;
}

.no-update .taskHeader {
  pointer-events: none;
}

.no-update .infoHeaderBlock{
  pointer-events: none;
}

.addTrudButton {
  height: 30px;
  width:200px;
  text-align: center;
  line-height: 30px;
  background-color: #95BCF2;
  border: 1px solid black!important;
  cursor: pointer;
}

.addTrudButton.disabled {
  pointer-events: none;
  background-color: #CCCCCC!important;
}

.trud {
  margin: 5px;
}

.comment {
  margin: 5px;
}

.taskInfoTab:nth-child(2) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.taskInfoTab.active{
  background-color: #95BCF2!important;
}

.taskInfoTab>div>div{
  height:30px!important;
}

.taskInfoTab.active {

}