.clickable-image:hover{
  cursor: pointer;
}

.clickable-image.burger {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.spki-block>*{
  float: left;
}

.spki-block>h3 {
  margin-top: 10px;
  margin-left: 10px;
}